<article>
  <h1><%=post.title %></h1>

  <address class="author"><%=post.author %></address>
  <address class="year"><%= post.year %></address>
  <address class="location"> <%=post.location %></address>
  <img src="<%= post.imageURL %>" width="100%">


</article>
